body {
    background:#eee;
}
h1 {
    font-family: "DejaVu Sans",Verdana,Geneva,sans-serif !important;
    font-size: 48px;
    font-weight: bold;
}

h1 a,
h1 a:hover,
h1 a:focus {
    text-decoration:none;
}

.lead {
    font-style:italic;
}
.container.ombre {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 30px;
}

img.ombre {
    width:85%;
    margin:20px;
}

#tuto-faq p[role="presentation"] .glyphicon,
#le-logiciel p[role="presentation"] .glyphicon,
#jardin p[role="presentation"] .glyphicon {
    font-size:50px;
}

#expiration, #burnafterreading {
    height:36px;
    margin-top:15px;
}
#expiration label {
    font-weight: normal;
}

#files {
    margin-top:15px;
}

.uploader {
  color: #333333;
  text-align: center;
  vertical-align: middle;
  padding: 30px 0px;
  margin-bottom: 10px;
  cursor: default;
}

.uploader .or {
  font-weight: bold;
  color: #616161;
  padding: 10px;
}

@media (max-width:768px){
  .uploader div.browser label {
    max-width:95%;
  }
}

@media (min-width:768px){
  .uploader div.browser label {
    width:300px;
  }
}

.uploader .btn label {
    font-weight:normal;
}

.uploader div.browser label {
  padding: 6px 0px;
  font-size: 40%;
  font-weight: normal;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  display: block;
  margin: 20px auto 0px auto;
  box-shadow: 2px 2px 2px #888888;
}

.uploader div.browser span {
  cursor: pointer;
}

.input-group-addon a span {
  background-color: #eee;
}

#results {
  display:none;
}
#results .list-group-item {
  margin : 10px 0;
}

table th {
  vertical-align:top;
}

.h2 .fa-file-text-o {
  margin:30px;
}
#render-image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
